**/__pycache__
**/.venv
**/.dockerignore
**/.git
**/.gitignore
**/.settings
**/.vs
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
README.md
.DS_Store
test_pipeline.pyc
# Ignore the content of the pipeline-data directory, the output file and the tests data
pipeline-data/*
!app/config/.gitkeep
tests
